body{
    font: 14px "Century Gothic", Futura,sanssherif;
    margin: 20px;
}

ol,ul{
    padding-left: 30px;
}

.board-row:after{
    clear: both;
    content: "";
    display: table;
}

.status{
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Trebuchet MS";
    text-align: center;

}
.instruction{
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Trebuchet MS";
    text-align: center;

}
.reset{
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Trebuchet MS";
    background-color: rgb(255, 136, 57);
    text-align: center;
}

.SquareLight{
    position: relative;
    background: rgb(177, 227, 247);
    border: 0px solid rgb(0, 0, 0);
    float: left;
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: 64px
}

.SquareDark{
    position: relative;
    background: rgb(5, 114, 187);
    border: 0px solid rgb(0, 0, 0);
    float: left;
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: 64px
}
.square:focus{
    outline:none
}


.Wp{
    width: 64px;
    height: 64px;
    clip: rect(0,3px,0,0)
}

.Bp{
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 161px;
}
.Wq{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Wx{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Wk{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Wb{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Wr{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Bq{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Bx{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Bk{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Bb{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}
.Br{
    position: absolute;
    height: 161px;
    width:  146px;
    background-image: url("https://www.pinclipart.com/picdir/middle/60-602740_file-pieces-sprite-wikimedia-chess-pieces-png-clipart.png") 
    733px 0px;
}


.kbd-navigation .square:focus{
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.pieceimg{
    width: 40px;
    height: 40px;
    overflow: hidden;
}

